@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Estedad-FD';
  src: url('/fonts/Estedad-FD-Light.woff2') format('woff2');
  font-weight: 300;
}
