@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  font-family: 'Estedad-FD', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #03050a;
  --tint-1: #FFDFEB;
  --tint-2: #FFC4C4;
  --tint-3: #FF3F7C;
  --tint-4: #E40B5A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--tint-1);
  color: #f9f9ff;
  font-feature-settings: 'frac', 'ss02';
  overflow-x: hidden;
  font-family: 'Estedad-FD', sans-serif;
}

#root {
  background-color: var(--tint-1);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  min-height: 100vh;
  /* overflow-x: hidden; */
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
}
