@import './styles/global.css';
@import './styles/fonts.css';

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: #03050a;
  color: #f9f9ff;
  font-feature-settings: 'frac', 'ss02';
  overflow-x: hidden;
  font-family: 'Estedad-FD', sans-serif;
}
